@keyframes leftToRight{
  0% {
    left: -200px;
    opacity: 0%;
  }
  100% {
    left: 0px;
    opacity: 100%;
  }
}

@keyframes topToBottom {
  0%{
    top: -30px;
    opacity: 0%;
  }
  100%{
    top: 0px;
    opacity: 100%;
  }
}