.container {
  width: 340px;
  margin: 0 auto;
}

@media (min-width: 360px) {
  
}

@media (min-width: 400px) {
  .container {
    width: 380px;
  }
}

@media (min-width: 640px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}

@media (min-width: 1024px) {
  .menuMobile {
    display:none;
  }

}

@media (min-width: 1280px) {
  
}

@media (min-width: 1536px) {
  .container {
    width: 1440px;
  }
}
