.headerMenuMobile{
  position: fixed;
  width: 100%;
  z-index: 50;
}

.buttonMenuMobile {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: var(--darkColor);
  border-radius: 200px;
}

.profileMenuMobile img{
  width: 70px;
  border-radius: 100%;
}


.burgerMenu {
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: var(--mainColor);
  width: max-content;
  border-radius: 100%;
  border: none;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.burgerMenu:hover {
  background-color: var(--mainColorHover);
  transition-duration: .3s;
}

.burgerLine {
  width: 45px;
  height: 6px;
  background-color: white;
  border-radius: 30px;
}

.burgerLineCenter {
  width: 30px;
  height: 6px;
  background-color: white;
  border-radius: 30px;
}

.navMenuMobile {
  margin-top: 10px;
}

.bgBlack{
  padding: 20px 10px 0 60px;
  background-color: var(--darkColor);
  height: 100vh;
  width: 100%;
  border-radius: 0px 20px 0px 0px ;
  position: fixed;
  left: -40px;
  z-index: 40;
  animation: leftToRight .5s;

}

.bgBlack nav ul li{
  padding-top: 10px;
  font-size: 2rem;
  list-style: none;
  font-family: 'lufgaBold';
}

.bgBlack a{
  color: var(--mainColor);
}

.bgBlack a:hover{
  color: var(--mainColorHover);
}

.bgBlue{
  padding: 0 10px 0 0;
  background-color: var(--mainColor);
  height: 100vh;
  width: 100%;
  border-radius: 0px 20px 0px 0px ;
  position: fixed;
  left: -10px;
  animation: leftToRight .3s;
  z-index: 30;
}

.menuMobileContact {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menuMobileContact img {
  margin-top: 20px;
  width: 50px;
  filter: invert();
}

.contactText {
  margin-top: 20px;
  color: var(--mainColor);
  font-family: 'lufgaMRegular';
}