.headerMenuMobile{
  position: fixed;
  width: 100%;
  z-index: 50;
}

.buttonMenuMobile {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: var(--darkColor);
  border-radius: 200px;
}

.profileMenuMobile img{
  width: 70px;
  border-radius: 100%;
}


.burgerMenu {
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: var(--mainColor);
  width: max-content;
  border-radius: 100%;
  border: none;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.burgerMenu:hover {
  background-color: var(--mainColorHover);
  transition-duration: .3s;
}

.burgerLine {
  width: 45px;
  height: 6px;
  background-color: white;
  border-radius: 30px;
}

.burgerLineCenter {
  width: 30px;
  height: 6px;
  background-color: white;
  border-radius: 30px;
}

.navMenuMobile {
  margin-top: 10px;
}

.menuMobileContact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactText {
  text-align: center;
}



.bgBlack{
  padding-top: 30px;
  background-color: var(--darkColor);
  height: 100vh;
  border-radius: 20px;
  animation: leftToRight .5s;
  width: 100%;
  position: relative;
  border-right: solid 10px var(--mainColor);
}

.bgBlack nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.bgBlack nav ul li{
  font-size: 2rem;
  list-style: none;
  font-family: 'lufgaBold';
}

.bgBlack a{
  color: var(--mainColor);
}

.bgBlack a:hover{
  color: var(--mainColorHover);
}

.menuMobileContact {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menuMobileContact img {
  margin-top: 20px;
  width: 50px;
  filter: invert();
}

.contactText {
  margin-top: 20px;
  color: var(--mainColor);
  font-family: 'lufgaMRegular';
}