@import url('/assets/css/fonts.css');
@import url('/assets/css/menuMobile.css');
@import url('/assets/css/animations.css');
@import url('/assets/css/breakPoints.css');

:root {
  --mainColor: #297DDD;
  --mainColorHover: #3593FF;
  --darkColor: #171717;
  --whiteColor: #ffffff;
  --grayColor: #98A2B3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'lufgaBold';
  overflow: hidden;
}

a{
  text-decoration: none;
}

h1{
  font-size: 5.938rem;
}

h2{
  font-size: 4rem;
}

h3{
  font-size: 3rem;
}

h4{
  font-size: 1.563rem;
}

h5{
  font-size: 1.25rem;
}



.hide {
  display: none;
}